.filter {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 25px;

    &__titel {
        font-weight: 700;
        font-size: 20px;
        line-height: 39px;
        color: #000000;
        margin-bottom: 15px;
    }

    .button__wraper {
        display: flex;
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__radio {
        span {
            background-color: #F3F3F3;
            border: none;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 13px;
            cursor: pointer;
            display: inline-block;

            &:hover {
                background-color: #ededed;
            }
        }

        &:not(:last-child) {
            margin-right: 10px;
        }

        input {
            display: none;

            &:checked + span {
                background-color: #59befe;
                color: #FFFFFF;
            }
        }

    }
}