.card-box {
    padding: 0 20px 20px 20px;
    width: 100%;

    .card {
        height: 100%;
        border: 1px solid #F3F3F3;
        border-radius: 40px;
        padding: 22px 25px 25px 25px;
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

        .ContentLoader {
            width: 100%;
        }
        
        rect {

            &:nth-child(1) {
                width: 100%;
            }

            &:nth-child(2) {
                width: 100%;
            }
        }

        &:hover {
            box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
            transform: translateY(-5px);
        }

        &__link {
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }
    
        &__img {
            margin-bottom: 15px;
            align-self: center;
        }
    
        &__titel {
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #000000;
            margin-bottom: 15px;
            align-self: center;
        }
    
        &__footer {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h5 {
                font-weight: 500;
                font-size: 13px;
                line-height: 13px;
                text-transform: uppercase;
                color: #BDBDBD;
                margin-bottom: 7px;
            }
    
            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
                color: #000000;
            }
        }
        
        &__plus-button {
            width: 32px;
            height: 32px;
            background: #FFFFFF;
            border: 1px solid #F2F2F2;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            &::before {
                content: '';
                width: 10px;
                height: 2px;
                border-radius: 5px;
                background-color: #D3D3D3;
                transform: translateX(1px);
            }

            &::after {
                content: '';
                width: 2px;
                height: 10px;
                border-radius: 5px;
                background-color: #D3D3D3;
                transform: translateX(-5px);
            }
        }

        &__plus-button-active {
            width: 32px;
            height: 32px;
            background: #59befe;
            border: none;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            &::before {
                content: "";
                width: 8px;
                height: 2px;
                border-radius: 5px;
                background: #FFFFFF;
                box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
                transform: translateY(1.2px) translateX(-1.5px)rotate(40deg);
            }

            &::after {
                content: "";
                width: 2px;
                height: 10px;
                border-radius: 5px;
                background: #FFFFFF;
                box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
                transform: translate(-2px)rotate(36deg);
            }
        }
    }

    @media(min-width: 667px) {
        width: 50%;
    }

    @media(min-width: 840px) {
        width: 50%;
    }

    @media(min-width: 980px) {
        width: 33.333%;
    }
}